<html>
<head>
<title></title>
</head>

<body>
<h3> How do I read my meter?</h3>
<p>Reading your meter is easy, once you know what the numbers on it mean.
Your meter has one row of numbers - for most meters this is eight. </p>
The <strong>five numbers (black) on the left-hand </strong> side represent kilolitres (1000 litres, and these are the numbers you will be recording on this site, which are the readings the municapality also records for your monthly bill. </p>
<p>The three numbers (red) on the right represent litres,  
<br> you will not be using these red numbers.</p>

<p><img src="Images/meter.png" title="Example of a meter reading" alt="image of a meter reading" 
width="400px" height="70px"/>
</p>

<p>In the diagram above, the meter represents 126 kilolitres and 487 litres.</p>
<h2>Learn how to read your meter</h2>
<p>Watch the video below which explains how to read your meter.</p>
<div class="video-left" id="new_content_container_7090">
<iframe width="450" height="220" 
src="https://www.youtube.com/embed/FtvdpeyGVlU" frameborder="0" allowfullscreen="">
</iframe></div>
</body>
</html>