<html>
<head>
<title>Record Meter Readings
</title>
<link rel="stylesheet" type="text/css"
          href="myStyles.css">
</head>

<body class="recordReadings">

<main>
<h1>Record Meter Readings</h1>

<h2 class="displayInfoToUser">Mkhwanazis' Residence</h2>

<iframe height="330" width="80" src="" name="iframe_a"></iframe><br>
<a href="meterReadingHelp.html" target="iframe_a">Help me read my meter?</a>


<form action="" method="post">
<div class="container"><span class="required">*</span>

<label> <strong>Date:</strong></label><br>
<input type="date" name="readingDate" required ><span class="required">*</span>

<label> <strong>Reading:</strong></label><br>
<input type="text" maxlength="5" required>

<input type="reset" value="Clear Form">  &nbsp;&nbsp;<button type="button" class="cancelbtn">Cancel</button>
<input type="submit" name="submitReadings" value="Submit" class="registerbtn">

  </div>
</form> 

<main>
</body>
</html>