/*
Try to make a base CSS so that pages with similar functionality can use these features instead of creating multiple stylesheets for the same functionality
could create one stylesheet  for all but that will confuse the hell outa us. 
*/
/* 
    Created on : 27 Apr 2018, 11:51:22 PM
    Author     : s217057098
*/
/*
Login page style BEGIN ============
*/
@import url('https://fonts.googleapis.com/css?family=Gudea');
body {
    margin-top: 0;
   padding-top: 0;
}
.bgLogin{

    background-image: url('../Images/bglogin.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    
/*    opacity: 0.3;*/
}

.login_content {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 130px 33px 95px;
}

.login_pic {
  max-width:  316px;
  border-radius: 10px;
}
.login_pic img{
    max-height: 100%;
    max-width: 100%;
   
}


 .login_form {
  width: 400px;
}

.login_title {
  font-family:"Century Gothic";
  font-size: 36px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}
.login_input{
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}
.input_box {
 font-family:"Century Gothic";
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
/*  display: block;*/
  width: 100%;
  background: #e6e6e6;
  height: 30px;
  border-radius: 15px;
padding:10px;
}
.input_box:focus{  
  outline: none;
}
.login_button_con {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login_button {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 80%;
  height: 50px;
  border-radius: 15px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

}
.login_button:focus{
    outline: none;
}


.text-center {
    text-align: center;
    margin-top: 25px;
}
.text-center a{
    text-decoration: none;
}

.text-center a:hover{
    color: green;
}
p-t-136 {
    padding-top: 136px;
}
.txt1 {
  font-family:"Century Gothic";
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family:"Century Gothic";
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.limiter {
  width: 100% !important;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.login_container {
  width: 100%;  
  height: 100% !important;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
 
}
/*
End Login Page 
*/

/*===================================================================================================================================================================*/

/*
Begin Register Page
*/

.bgRegister{

    background-image: url('../Images/bgregister.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    height: 100% !important;
/*    opacity: 0.3;*/
}

.r_main_content{
    width: 50%;
   min-height:100% !important;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 130px 33px 95px;
}
.basic_info{
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    margin-bottom: 8px;
}

.input_box_r {
 font-family:"Century Gothic";
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
 margin: 5px;
  width: 80%;
  background: #e6e6e6;
  height: 30px;
  border-radius: 15px;
padding:10px;
}
.input_box_r:focus{  
  outline: none;
}
.main_resident_info{
    display: none;
     width: 100%;
    overflow: hidden;
}
.basic_info label{
    font-family:"Century Gothic";
  font-size: 15px;
}

.basic_info input[type="radio"]{
  display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

.register_btn_container{
     width: 100%;
     height: 100%!important;
    overflow: hidden;
}
/*
End Register Page
*/

/* Thuli was here 2018/04/30*/
/*
*

Begin View news article web page
*/
.news_header{
    max-height: 150px !important;
    border-bottom-style: solid;
    border-bottom-color: grey;
    overflow: hidden;
}

 #header_pic{
    height: 100%;
    width: 45% !important;
   float: left;
   overflow: hidden;
}
#header_pic img{
    max-height: 10%;
    max-width: 30%;
}


.page_headings{
    font-family: "Century Gothic";
    font-size: 45px;
    text-align: left;
    color:#B0B0B0
}

.center_tag{
    margin: auto;
/*    width: 50%;*/
    padding: 10px;
}

.news_main_image{
    width: 100%;
    height: 5%;
    overflow: hidden;
    padding-left: 10%;
}

.news_main_image img{
    max-height: 600px;
    width: 80%;
}

.news_items_holder{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.news_item{
    width: 70%;
    border-style: solid;
    border-color: rgb(224,224,224);
    border-radius: 3px;
    overflow: hidden;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 30px;
    
}

.news_item_image{
 max-width: 30% ;
max-height: 15%;
 margin: 0;
 float: left;
}

.news_item_details{
    width: 65%;
    height: inherit;
    float: right;
}

.news_item_title{
    width: 100%;
    
}

.news_item_desc{
    font-family: "Century Gothic", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    width: 100%;
    overflow: hidden;
   
}
.news_item_creds{
    width: 100%;
}
.news_item:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.news_none{
    width: 80%;
    overflow: hidden;
    border-style: solid;
    border-color: rgb(224,224,224);
    border-radius: 3px;
    overflow: hidden;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    font-family: "Century Gothic";
    font-size: 35px;
}

.news_none img{
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain;
}

.news_none div{
    width: 50% !important;
    overflow: hidden;
    
}

.news_none a {
    
    color: greenyellow;
}

.pgn_holder{
    width: 50%;
    overflow: hidden;
}

.pgn_holder a {
    text-decoration: none;
    color: grey;
}
.news_prev{
   float: left; 
}
.news_next{
    float: right;
}

.img_next .img_prev{
   max-width: 100% !important;
   object-fit: contain;
   
}

#btnRead{
    text-align: center;
    color: white;
    font-family:  Calibri, Candara, Segoe ;
    text-align: center;
    border-color: blue;
   float: right;
   font-size: 20px;
}

/*
End view news article web page
*/


/*
Begin section for header....
*/
.header_info{
    font-family: "Century Gothic";
    font-size: 28px;
    text-align: center;
    width: 50%;
    float: left;
    
}

.header_info h1{
    margin: 3px;
    padding:0;
    vertical-align: text-bottom;
}

.header_image{
    float: left;
}

/* Area stats content here*/

.stats_content{
    width: 80%;
    margin: auto;
    padding: 5px;
    overflow: hidden;
}

.same-line{
    width: 33%;
    float: left;
    text-align: center;
    min-height: 100% !important;  
}

.same-line-right{
  
   text-align: center;
}
.same-line-left{
    margin-bottom: -500px;
   padding-bottom: 500px;
   vertical-align: middle;
}
.same-life-middle{
    border-right-style: solid;
    border-right-color: grey;
    
     border-left-style: solid;
    border-left-color: grey;
}

.same-line-holder{
 font-family: "Century Gothic";
    overflow: hidden;
    height: 50% !important;
    border-bottom-color: grey;
    border-bottom-style: solid;
    margin-bottom: 80px;
}

.area-holder{
    font-family: "Century Gothic";
    padding-right: 15px;
    width: 30%;
    overflow: hidden;
    border-style: solid;
    border-color: rgb(224,224,224);
    border-radius: 3px;
    overflow: hidden;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
   float: right;
   text-align: center;
   
}
.pr-chart-ctrl{
    list-style-type: none;
}
.area-holder select{
    width: 50%;
    margin: 30px;
}

.area-holder input{
    width: 50%;
}

.area-charges-holder{
     font-family: "Century Gothic";
    overflow: hidden;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-color: rgb(224,224,224);
    border-radius: 10px;
    overflow: hidden;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin: auto;
    padding: 5px;
}
.area-charges-holder p{
    float: left;
  width: 32%;
}

/*
 Water Usage reporting 
*/
.wrap_usage_area{
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    padding: 5px;
}
.date_wrapper{
    font-family: "Century Gothic";
    overflow: hidden;
    height: 49%;
     border-style: solid;
    border-color: rgb(224,224,224);
    border-radius: 10px;
    overflow: hidden;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.date_control_wrapper{
    width: 80%;
    margin: auto;
    padding: 10px;
}
.date_control_wrapper input[type=date] {
    width: 75%;
    margin: 5px;
}
.date_control_wrapper label{
    width: 40%;
}

.date_control_wrapper input[type=submit] {
    margin-top: 20px;
    width: 70%;
}

.date_control_wrapper .button_wrapper{
    width: 60%;
    margin: auto;
    padding: 10px;
}

.date_control_wrapper h3{
    text-align: center;
}

.date_control_wrapper .date_control{
    width: 50%;
    float: left;
    overflow: hidden;
    
}

.graph-wrapper{
    width: 90%;
    height: 100% !important;
    overflow: hidden;
    margin: auto;
    padding: 15px;
}

.graph-wrapper #graphArea{
    height: 500px !important;
    width: 100% !important;
    overflow: hidden;
}
/*Add Resident: */

.add_res_holder{
    width: 80%;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    
}

.add_res_content{
    width: 70%;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    border-style: solid;
    border-color: rgb(224,224,224);
    border-radius: 10px;
    overflow: hidden;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 40px;
    
}

.add_res_content input[type=email]{
    width: 60%;
}

.add_res_content input[type=submit]{
    width: 35%;
}

.add_cent_cont{
    width: 70%;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}

.error{
    color: red;
    font-family: "Century Gothic";
}

.success {
    color: green;
    font-family: "Century Gothic";
}

/*Page not found section */
#title {
  text-align:center;
  font-size:40px;
  margin-top:40px;
  margin-bottom:-40px;
  position:relative;
  color:#fff;
}

#title a {
    text-decoration: none;
}

#title a:hover{
    text-decoration: underline;
}
.circles:after {
  content:'';
  display:inline-block;
  width:100%;
  height:100px;
  background:#fff;
  position:absolute;
  top:-50px;
  left:0;
  transform:skewY(-4deg);
  -webkit-transform:skewY(-4deg);
}

.circles { 
	background:#fff;
	text-align: center;
	position: relative;
  margin-top:-60px;
  box-shadow:inset -1px -4px 4px rgba(0,0,0,0.2);
}

.circles p {
	font-size: 240px;
	color: #fff;
	padding-top: 60px;
	position: relative;
  z-index: 9;
  line-height: 100%;
}

.circles p small { 
  font-size: 40px; 
  line-height: 100%; 
  vertical-align: top;   
}

.circles .circle.small {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 80px;
	left: 50%;
	animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);	
	-webkit-animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}

.circles .circle.med {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 10%;
	animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);	
	-webkit-animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.circles .circle.big {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background: #48A9E6;
	position: absolute;
	z-index: 1;
	top: 200px;
	right: 0;
	animation: 8s bigmove infinite;	
	-webkit-animation: 8s bigmove infinite;
	animation-delay: 3s;
	-webkit-animation-delay: 1s;
}

@-webkit-keyframes smallmove {
	0% { top: 10px; left: 45%; opacity: 1; }
	25% { top: 300px; left: 40%; opacity:0.7; }
	50% { top: 240px; left: 55%; opacity:0.4; }
	75% { top: 100px; left: 40%;  opacity:0.6; }
	100% { top: 10px; left: 45%; opacity: 1; }
}
@keyframes smallmove {
	0% { top: 10px; left: 45%; opacity: 1; }
	25% { top: 300px; left: 40%; opacity:0.7; }
	50% { top: 240px; left: 55%; opacity:0.4; }
	75% { top: 100px; left: 40%;  opacity:0.6; }
	100% { top: 10px; left: 45%; opacity: 1; }
}

@-webkit-keyframes medmove {
	0% { top: 0px; left: 20%; opacity: 1; }
	25% { top: 300px; left: 80%; opacity:0.7; }
	50% { top: 240px; left: 55%; opacity:0.4; }
	75% { top: 100px; left: 40%;  opacity:0.6; }
	100% { top: 0px; left: 20%; opacity: 1; }
}

@keyframes medmove {
	0% { top: 0px; left: 20%; opacity: 1; }
	25% { top: 300px; left: 80%; opacity:0.7; }
	50% { top: 240px; left: 55%; opacity:0.4; }
	75% { top: 100px; left: 40%;  opacity:0.6; }
	100% { top: 0px; left: 20%; opacity: 1; }
}

@-webkit-keyframes bigmove {
	0% { top: 0px; right: 4%; opacity: 0.5; }
	25% { top: 100px; right: 40%; opacity:0.4; }
	50% { top: 240px; right: 45%; opacity:0.8; }
	75% { top: 100px; right: 35%;  opacity:0.6; }
	100% { top: 0px; right: 4%; opacity: 0.5; }
}
@keyframes bigmove {
	0% { top: 0px; right: 4%; opacity: 0.5; }
	25% { top: 100px; right: 40%; opacity:0.4; }
	50% { top: 240px; right: 45%; opacity:0.8; }
	75% { top: 100px; right: 35%;  opacity:0.6; }
	100% { top: 0px; right: 4%; opacity: 0.5; }
}

.eror{
    width: 80%;
    margin: auto;
    padding: 5px;
    
}

.hide_stuff{
    visibility: hidden;
}
