h1{
	text-align:center;
}
header{
	background-color:#264d73;
        overflow: hidden;
	color: #E8E8E8;
        font-family:"Courier New", Courier, monospace;
}
#header{
	
	font-family:"Courier New", Courier, monospace;
	color:gray;
}

/*Password validation style*/
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 10px;
}

#message p {
    padding: 5px 20px;
    font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    
}

/*footer*/
footer {
    clear: both;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
}
.click:hover {
	cursor: pointer;
   
}
.displayInfoToUser
{
	font-family:"Courier New", Courier, monospace;
	color:gray;
}
.required
{
	color: red;
}

#iframe{
    height:330px;
    width:80%;
}
#meter{
    width:400px;
    height:70px;
}
body .recordReadings {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    margin: 0 auto;
    padding: 0 2em;
    background-color: white;
    border: 1px solid #006699;
    
    
}
body .MainRes {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 0 2em;
    background-color: white;
    border: 1px solid #006699;
    
    
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
input[type=password]
{
	/*pattern:(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}*/
/*	title:Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters>*/
}
/* Full-width input fields */
input[type=text], input[type=password],input[type=date], input[type=number],input[type=email],select, textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  outline: none;
}



/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.7;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.registerbtn:hover {
  opacity:1;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
	 opacity: 0.7
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
  text-decoration: none;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	  opacity: 0.7;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), 
and when you move the mouse over it (hover) */
.active, .accordion:hover {
    /* background-color: #ccc; */
	 opacity: 1;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: block;
    overflow: hidden;
}
/*style for tables*/
#table {
    font-family:  Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
/* The Modal (background) */
body {font-family: Arial, Helvetica, sans-serif;}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*Modal Section */

/* The Modal (background) */
.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
	font-family: Arial, Helvetica, sans-serif;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mid{
width: 50%;
margin: auto;
padding:5px;
text-align: center;
}

.btnProceed a {
text-decoration:none;
color: gray;
padding: 3px;
}

.btnProceed{
width:20%;
border-color: green;
border-width: 2px;
border-style:solid;
text-align:center;
margin: auto;
padding:5px;
}
/*View Tips tricks*/
.tipscontainer {
  border: 2px solid  #4CAF50;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
}
		 
.tipscontainer::after {
  content: "";
  clear: both;
  display: table;
}
.date {
float:right;

}
.tipscontainer img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.tipscontainer span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .tipscontainer {
      text-align: center;
  }
  .tipscontainer img {
      margin: auto;
      float: none;
      display: block;
  }
}

/*info to user*/

.tips_holder{
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding: 5px;
}

.postTip select{
    width: 50%;
    
}

.postTip{
    width: 100%;
    margin: auto;
    padding: 5px;
    overflow: hidden;
}

.postTip textarea{
    width: 50%;
    height: 180px;
}

.post_wrap{
    width: 70%;
    margin: auto;
    padding: 5px;
    overflow: hidden;
}
/*more validations*/
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
}
#res2{
display:none;
color:red;
}

#res3{
color:red;
}
.click{
cursor:pointer;
}

@media (max-width: 500px) {
  body  .MainRes{
        width: 100%;
        margin: auto;
        background-color: white;
        border: 1px solid #006699
    }
    
    body{
        
    }
}
